In [3]:
import pandas as pd
import csv

In [4]:
dtype_dict1 = {
    'tconst': str,
    'nconst': str 
}

# dtype_dict2 = {'budget': float,
#     'popularity': float,
#     'revenue': float, 
#     'runtime': int,
#     'vote_average': float,
#     'vote_count': int
# }

In [5]:
#OG_title_ratings

df_title_ratings = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title ratings.tsv',sep='\t', dtype=dtype_dict1)

print(df_title_ratings)
#df_ogratings.columns

            tconst  averageRating  numVotes
0        tt0000001            5.7      2025
1        tt0000002            5.7       272
2        tt0000003            6.5      1958
3        tt0000004            5.4       178
4        tt0000005            6.2      2724
...            ...            ...       ...
1402255  tt9916730            7.0        12
1402256  tt9916766            7.1        23
1402257  tt9916778            7.2        36
1402258  tt9916840            8.8         6
1402259  tt9916880            8.2         6

[1402260 rows x 3 columns]

In [6]:
unique_values_count = df_title_ratings['tconst'].nunique()
null_count = df_title_ratings['tconst'].isnull().sum()
print(null_count)

0

In [7]:
#OG_name

df_name = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/name.tsv',sep='\t', dtype=dtype_dict1 )

print(df_name)
#df_name.columns

             nconst         primaryName birthYear deathYear  \
0         nm0000001        Fred Astaire      1899      1987
1         nm0000002       Lauren Bacall      1924      2014
2         nm0000003     Brigitte Bardot      1934        \N
3         nm0000004        John Belushi      1949      1982
4         nm0000005      Ingmar Bergman      1918      2007
...             ...                 ...       ...       ...
13255429  nm9993714   Romeo del Rosario        \N        \N
13255430  nm9993716       Essias Loberg        \N        \N
13255431  nm9993717  Harikrishnan Rajan        \N        \N
13255432  nm9993718         Aayush Nair        \N        \N
13255433  nm9993719          Andre Hill        \N        \N

                            primaryProfession  \
0              soundtrack,actor,miscellaneous
1                          actress,soundtrack
2         actress,soundtrack,music_department
3                     actor,soundtrack,writer
4                       writer,director,actor
...                                       ...
13255429  animation_department,art_department
13255430                                  NaN
13255431                      cinematographer
13255432                      cinematographer
13255433                                  NaN

                                   knownForTitles
0         tt0050419,tt0072308,tt0027125,tt0053137
1         tt0037382,tt0075213,tt0117057,tt0038355
2         tt0049189,tt0054452,tt0056404,tt0057345
3         tt0078723,tt0072562,tt0080455,tt0077975
4         tt0050986,tt0069467,tt0083922,tt0050976
...                                           ...
13255429          tt2455546,tt11657662,tt14069590
13255430                                       \N
13255431                                tt8736744
13255432                                tt8736744
13255433                                       \N

[13255434 rows x 6 columns]

In [8]:
unique_values_count2 = df_name['nconst'].nunique()
null_count2 = df_name['nconst'].isnull().sum()
print(unique_values_count2)

13255434

In [13]:
#OG_title_basic

df_title_basics = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title basics.tsv',sep='\t')

print(df_title_basics)
#df_titlebasics.columns

/var/folders/pc/g7llzl3517q8v_lqg7_6_5_40000gn/T/ipykernel_99026/2301378872.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title basics.tsv',sep='\t')

             tconst  titleType               primaryTitle  \
0         tt0000001      short                 Carmencita
1         tt0000002      short     Le clown et ses chiens
2         tt0000003      short             Pauvre Pierrot
3         tt0000004      short                Un bon bock
4         tt0000005      short           Blacksmith Scene
...             ...        ...                        ...
10554927  tt9916848  tvEpisode              Episode #3.17
10554928  tt9916850  tvEpisode              Episode #3.19
10554929  tt9916852  tvEpisode              Episode #3.20
10554930  tt9916856      short                   The Wind
10554931  tt9916880  tvEpisode  Horrid Henry Knows It All

                      originalTitle isAdult startYear endYear runtimeMinutes  \
0                        Carmencita       0      1894      \N              1
1            Le clown et ses chiens       0      1892      \N              5
2                    Pauvre Pierrot       0      1892      \N              4
3                       Un bon bock       0      1892      \N             12
4                  Blacksmith Scene       0      1893      \N              1
...                             ...     ...       ...     ...            ...
10554927              Episode #3.17       0      2009      \N             \N
10554928              Episode #3.19       0      2010      \N             \N
10554929              Episode #3.20       0      2010      \N             \N
10554930                   The Wind       0      2015      \N             27
10554931  Horrid Henry Knows It All       0      2014      \N             10

                              genres
0                  Documentary,Short
1                    Animation,Short
2           Animation,Comedy,Romance
3                    Animation,Short
4                       Comedy,Short
...                              ...
10554927         Action,Drama,Family
10554928         Action,Drama,Family
10554929         Action,Drama,Family
10554930                       Short
10554931  Adventure,Animation,Comedy

[10554932 rows x 9 columns]

In [14]:
unique_values_count3 = df_title_basics['tconst'].nunique()
null_count3 = df_title_basics['tconst'].isnull().sum()
print(null_count3)

0

In [15]:
#OG_title_principals

df_title_principals = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title principals.tsv',sep='\t', dtype=dtype_dict1)

#print(df_title_principals)
df_title_principals.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [16]:
unique_values_count4 = df_title_principals['nconst'].nunique()
null_count4 = df_title_principals['nconst'].isnull().sum()
print(null_count4)

0

In [17]:
#actors_pivot = actors.pivot(index='tconst', columns='ordering', values='nconst').reset_index()
#actors_pivot.columns = [f'nconst_{col}' if isinstance(col, int) else col for col in actors_pivot.columns]


pivot_table = df_title_principals.pivot_table(index='tconst', columns='category', values='nconst', aggfunc=lambda x: ' '.join(str(v) for v in x))

pivot_table.reset_index(inplace=True)

pivot_table.columns.name = None
pivot_table.rename_axis(None, axis=1, inplace=True)
pivot_table.rename(columns={'tconst': 'tconst'}, inplace=True)

print(pivot_table)

            tconst                actor                          actress  \
0        tt0000001                  NaN                              NaN
1        tt0000002                  NaN                              NaN
2        tt0000003                  NaN                              NaN
3        tt0000004                  NaN                              NaN
4        tt0000005  nm0443482 nm0653042                              NaN
...            ...                  ...                              ...
9561692  tt9916848            nm3665668    nm5262613 nm8250913 nm8690065
9561693  tt9916850            nm3665668    nm5262613 nm8250913 nm8690065
9561694  tt9916852            nm3665668    nm5262613 nm8250913 nm8690065
9561695  tt9916856           nm10538646  nm3394271 nm10538650 nm10538647
9561696  tt9916880  nm1483166 nm0286175              nm2784764 nm0254176

        archive_footage archive_sound cinematographer              composer  \
0                   NaN           NaN       nm0374658                   NaN
1                   NaN           NaN             NaN             nm1335271
2                   NaN           NaN             NaN             nm1335271
3                   NaN           NaN             NaN             nm1335271
4                   NaN           NaN             NaN                   NaN
...                 ...           ...             ...                   ...
9561692             NaN           NaN             NaN             nm2900202
9561693             NaN           NaN             NaN   nm2898368 nm2900202
9561694             NaN           NaN             NaN             nm2900202
9561695             NaN           NaN             NaN  nm10538653 nm9228549
9561696             NaN           NaN             NaN                   NaN

                    director     editor   producer production_designer  \
0                  nm0005690        NaN        NaN                 NaN
1                  nm0721526        NaN        NaN                 NaN
2                  nm0721526  nm5442200  nm1770680                 NaN
3                  nm0721526        NaN        NaN                 NaN
4                  nm0005690        NaN  nm0249379                 NaN
...                      ...        ...        ...                 ...
9561692            nm1485677        NaN        NaN                 NaN
9561693            nm1485677        NaN        NaN                 NaN
9561694            nm1485677        NaN        NaN                 NaN
9561695           nm10538645        NaN        NaN                 NaN
9561696  nm0584014 nm0996406        NaN  nm1594058                 NaN

              self                                   writer
0        nm1588970                                      NaN
1              NaN                                      NaN
2              NaN                                      NaN
3              NaN                                      NaN
4              NaN                                      NaN
...            ...                                      ...
9561692        NaN  nm9187127 nm9826385 nm9299459 nm1628284
9561693        NaN            nm9187127 nm9826385 nm1628284
9561694        NaN  nm9187127 nm9826385 nm9299459 nm1628284
9561695        NaN                                nm6951431
9561696        NaN                      nm1482639 nm2586970

[9561697 rows x 13 columns]

In [18]:
#MERGEEEEEEEEEEEE

#merged_df1 = pd.merge(df_links, df_credits, left_on='movieId', right_on='id', how='inner')
#merged_df1 = pd.merge(df_title_principals, df_title_ratings[['tconst', 'averageRating', 'numVotes']], on='tconst', how='left')
#print(merged_df1)

merged_df1 = pd.merge(pivot_table, df_title_ratings, on='tconst', how='left')
print(merged_df1)

            tconst                actor                          actress  \
0        tt0000001                  NaN                              NaN
1        tt0000002                  NaN                              NaN
2        tt0000003                  NaN                              NaN
3        tt0000004                  NaN                              NaN
4        tt0000005  nm0443482 nm0653042                              NaN
...            ...                  ...                              ...
9561692  tt9916848            nm3665668    nm5262613 nm8250913 nm8690065
9561693  tt9916850            nm3665668    nm5262613 nm8250913 nm8690065
9561694  tt9916852            nm3665668    nm5262613 nm8250913 nm8690065
9561695  tt9916856           nm10538646  nm3394271 nm10538650 nm10538647
9561696  tt9916880  nm1483166 nm0286175              nm2784764 nm0254176

        archive_footage archive_sound cinematographer              composer  \
0                   NaN           NaN       nm0374658                   NaN
1                   NaN           NaN             NaN             nm1335271
2                   NaN           NaN             NaN             nm1335271
3                   NaN           NaN             NaN             nm1335271
4                   NaN           NaN             NaN                   NaN
...                 ...           ...             ...                   ...
9561692             NaN           NaN             NaN             nm2900202
9561693             NaN           NaN             NaN   nm2898368 nm2900202
9561694             NaN           NaN             NaN             nm2900202
9561695             NaN           NaN             NaN  nm10538653 nm9228549
9561696             NaN           NaN             NaN                   NaN

                    director     editor   producer production_designer  \
0                  nm0005690        NaN        NaN                 NaN
1                  nm0721526        NaN        NaN                 NaN
2                  nm0721526  nm5442200  nm1770680                 NaN
3                  nm0721526        NaN        NaN                 NaN
4                  nm0005690        NaN  nm0249379                 NaN
...                      ...        ...        ...                 ...
9561692            nm1485677        NaN        NaN                 NaN
9561693            nm1485677        NaN        NaN                 NaN
9561694            nm1485677        NaN        NaN                 NaN
9561695           nm10538645        NaN        NaN                 NaN
9561696  nm0584014 nm0996406        NaN  nm1594058                 NaN

              self                                   writer  averageRating  \
0        nm1588970                                      NaN            5.7
1              NaN                                      NaN            5.7
2              NaN                                      NaN            6.5
3              NaN                                      NaN            5.4
4              NaN                                      NaN            6.2
...            ...                                      ...            ...
9561692        NaN  nm9187127 nm9826385 nm9299459 nm1628284            NaN
9561693        NaN            nm9187127 nm9826385 nm1628284            NaN
9561694        NaN  nm9187127 nm9826385 nm9299459 nm1628284            NaN
9561695        NaN                                nm6951431            NaN
9561696        NaN                      nm1482639 nm2586970            8.2

         numVotes
0          2025.0
1           272.0
2          1958.0
3           178.0
4          2724.0
...           ...
9561692       NaN
9561693       NaN
9561694       NaN
9561695       NaN
9561696       6.0

[9561697 rows x 15 columns]

In [19]:
merged_df2 = pd.merge(merged_df1, df_title_basics, on='tconst', how='left')
print(merged_df2)

            tconst                actor                          actress  \
0        tt0000001                  NaN                              NaN
1        tt0000002                  NaN                              NaN
2        tt0000003                  NaN                              NaN
3        tt0000004                  NaN                              NaN
4        tt0000005  nm0443482 nm0653042                              NaN
...            ...                  ...                              ...
9561692  tt9916848            nm3665668    nm5262613 nm8250913 nm8690065
9561693  tt9916850            nm3665668    nm5262613 nm8250913 nm8690065
9561694  tt9916852            nm3665668    nm5262613 nm8250913 nm8690065
9561695  tt9916856           nm10538646  nm3394271 nm10538650 nm10538647
9561696  tt9916880  nm1483166 nm0286175              nm2784764 nm0254176

        archive_footage archive_sound cinematographer              composer  \
0                   NaN           NaN       nm0374658                   NaN
1                   NaN           NaN             NaN             nm1335271
2                   NaN           NaN             NaN             nm1335271
3                   NaN           NaN             NaN             nm1335271
4                   NaN           NaN             NaN                   NaN
...                 ...           ...             ...                   ...
9561692             NaN           NaN             NaN             nm2900202
9561693             NaN           NaN             NaN   nm2898368 nm2900202
9561694             NaN           NaN             NaN             nm2900202
9561695             NaN           NaN             NaN  nm10538653 nm9228549
9561696             NaN           NaN             NaN                   NaN

                    director     editor   producer  ... averageRating  \
0                  nm0005690        NaN        NaN  ...           5.7
1                  nm0721526        NaN        NaN  ...           5.7
2                  nm0721526  nm5442200  nm1770680  ...           6.5
3                  nm0721526        NaN        NaN  ...           5.4
4                  nm0005690        NaN  nm0249379  ...           6.2
...                      ...        ...        ...  ...           ...
9561692            nm1485677        NaN        NaN  ...           NaN
9561693            nm1485677        NaN        NaN  ...           NaN
9561694            nm1485677        NaN        NaN  ...           NaN
9561695           nm10538645        NaN        NaN  ...           NaN
9561696  nm0584014 nm0996406        NaN  nm1594058  ...           8.2

        numVotes  titleType               primaryTitle  \
0         2025.0      short                 Carmencita
1          272.0      short     Le clown et ses chiens
2         1958.0      short             Pauvre Pierrot
3          178.0      short                Un bon bock
4         2724.0      short           Blacksmith Scene
...          ...        ...                        ...
9561692      NaN  tvEpisode              Episode #3.17
9561693      NaN  tvEpisode              Episode #3.19
9561694      NaN  tvEpisode              Episode #3.20
9561695      NaN      short                   The Wind
9561696      6.0  tvEpisode  Horrid Henry Knows It All

                     originalTitle isAdult startYear endYear runtimeMinutes  \
0                       Carmencita       0      1894      \N              1
1           Le clown et ses chiens       0      1892      \N              5
2                   Pauvre Pierrot       0      1892      \N              4
3                      Un bon bock       0      1892      \N             12
4                 Blacksmith Scene       0      1893      \N              1
...                            ...     ...       ...     ...            ...
9561692              Episode #3.17       0      2009      \N             \N
9561693              Episode #3.19       0      2010      \N             \N
9561694              Episode #3.20       0      2010      \N             \N
9561695                   The Wind       0      2015      \N             27
9561696  Horrid Henry Knows It All       0      2014      \N             10

                             genres
0                 Documentary,Short
1                   Animation,Short
2          Animation,Comedy,Romance
3                   Animation,Short
4                      Comedy,Short
...                             ...
9561692         Action,Drama,Family
9561693         Action,Drama,Family
9561694         Action,Drama,Family
9561695                       Short
9561696  Adventure,Animation,Comedy

[9561697 rows x 23 columns]

In [30]:
merged_df2.to_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/merged_df2.csv', index=False)

In [15]:

# import csv

# new_rows = []

# with open('/Users/Trisha/Desktop/Software Des/merged_df2.csv', 'r') as file:
#     reader = csv.DictReader(file)
    
#     for row in reader:
#         actors = row['actor'].split()
#         actresses = row['actress'].split()
        
#         for actor in actors:
#             new_row = row.copy() 
#             new_row['actor'] = actor
#             new_rows.append(new_row)
#         for actress in actresses:
#             new_row = row.copy() 
#             new_row['actress'] = actress
#             new_rows.append(new_row)

# with open('/Users/Trisha/Desktop/Software Des/merged_df2.csv', 'w', newline='') as file:
#     writer = csv.DictWriter(file, fieldnames=new_rows[0].keys())
#     writer.writeheader()
#     writer.writerows(new_rows)

In [35]:
# import pandas as pd

# df_stripcast = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/merged_df2.csv', low_memory=False)

# df_stripcast.drop(columns=['originalTitle'], inplace=True)
# df_stripcast.drop(columns=['archive_footage'], inplace=True)

In [ ]:

# import pandas as pd

# file_path = '/Users/Trisha/Desktop/Software Des/Boxoffice/merged_df2.csv'
# dtype={'archive_sound': str}  # Adjust the columns and data types as needed
# df_stripcast = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/merged_df2.csv', dtype=dtype, low_memory=False)

# df_stripcast.drop(columns=['originalTitle'], inplace=True)

# df_stripcast['actor'] = df_stripcast['actor'].fillna('')
# df_stripcast['actress'] = df_stripcast['actress'].fillna('')

# def split_actors_and_actresses(row):
#     actors = str(row['actor']).split() if isinstance(row['actor'], str) else [] 
#     actresses = str(row['actress']).split() if isinstance(row['actress'], str) else []
#     rows = []

#     if len(actors) > 1 or len(actresses) > 1:
#         for actor in actors:
#             for actress in actresses:
#                 new_row = row.copy()
#                 new_row['actor'] = actor
#                 new_row['actress'] = actress
#                 rows.append(new_row)
#     else:
#         rows.append(row)

#     return rows

# new_rows = []
# for index, row in df_stripcast.iterrows():
#     new_rows.extend(split_actors_and_actresses(row))

# result = pd.concat([df_stripcast.drop(index=None), pd.DataFrame(new_rows)], ignore_index=True)

# result

In [19]:
new_rows = []

for index, row in merged_df2.iterrows():
    if not pd.isna(row['actor']):
        entries = row['actor'].split()
        for entry in entries:
            new_rows.append({'actor': entry})

new_df = pd.DataFrame(new_rows)
print(new_df)

               actor
0          nm0443482
1          nm0653042
2          nm0179163
3          nm0183947
4          nm0653028
...              ...
13368365   nm3665668
13368366   nm3665668
13368367  nm10538646
13368368   nm1483166
13368369   nm0286175

[13368370 rows x 1 columns]

In [1]:
new_rows = []

for index, row in merged_df2.iterrows():
    for column in merged_df2.columns:
        if not pd.isna(row[column]):
            entries = row[column].split() if isinstance(row[column], str) else [row[column]]
            for entry in entries:
                new_rows.append({column: entry, **{other_column: row[other_column] for other_column in merged_df2.columns if other_column != column}})

new_df = pd.DataFrame(new_rows)

print(new_df)

NameError: name 'merged_df2' is not defined