In [3]:
import pandas as pd
import csv

In [5]:
df_v5 = pd.read_csv('../../../data/cleaned/data_clean_v5.csv')

print(df_v5)

           tconst           actor   actress       director      producer  \
0       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
1       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
2       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
3       tt0035423  Liev Schreiber  Meg Ryan  James Mangold  Cathy Konrad
4       tt0035423  Liev Schreiber  Meg Ryan  James Mangold  Cathy Konrad
...           ...             ...       ...            ...           ...
295986  tt9883832         missing   missing   Brett Morgen       missing
295987  tt9883832         missing   missing   Brett Morgen       missing
295988  tt9883832         missing   missing   Brett Morgen       missing
295989  tt9883832         missing   missing   Brett Morgen       missing
295990  tt9883832         missing   missing   Brett Morgen       missing

               writer  averageRating  numVotes titleType      primaryTitle  \
0       Steven Rogers            6.4     88586     movie    Kate & Leopold
1       Steven Rogers            6.4     88586     movie    Kate & Leopold
2       Steven Rogers            6.4     88586     movie    Kate & Leopold
3       Steven Rogers            6.4     88586     movie    Kate & Leopold
4       Steven Rogers            6.4     88586     movie    Kate & Leopold
...               ...            ...       ...       ...               ...
295986        missing            7.7     14003     movie  Moonage Daydream
295987        missing            7.7     14003     movie  Moonage Daydream
295988        missing            7.7     14003     movie  Moonage Daydream
295989        missing            7.7     14003     movie  Moonage Daydream
295990        missing            7.7     14003     movie  Moonage Daydream

        isAdult  startYear  runtimeMinutes       genres  inflation_corrector  \
0             0       2001             118       Comedy             1.720508
1             0       2001             118      Fantasy             1.720508
2             0       2001             118      Romance             1.720508
3             0       2001             118       Comedy             1.720508
4             0       2001             118      Fantasy             1.720508
...         ...        ...             ...          ...                  ...
295986        0       2022             135  Documentary             1.041165
295987        0       2022             135      History             1.041165
295988        0       2022             135    Biography             1.041165
295989        0       2022             135  Documentary             1.041165
295990        0       2022             135      History             1.041165

        Revenue_InflationCorrected Production_Company
0                        130791394            Miramax
1                        130791394            Miramax
2                        130791394            Miramax
3                        130791394            Miramax
4                        130791394            Miramax
...                            ...                ...
295986                    13634862               Neon
295987                    13634862               Neon
295988                    13634862               Neon
295989                    13634862               Neon
295990                    13634862               Neon

[295991 rows x 17 columns]

In [6]:
df_name = pd.read_csv('../../../data/raw/name.tsv',sep='\t')
print(df_name)

             nconst         primaryName birthYear deathYear  \
0         nm0000001        Fred Astaire      1899      1987
1         nm0000002       Lauren Bacall      1924      2014
2         nm0000003     Brigitte Bardot      1934        \N
3         nm0000004        John Belushi      1949      1982
4         nm0000005      Ingmar Bergman      1918      2007
...             ...                 ...       ...       ...
13255429  nm9993714   Romeo del Rosario        \N        \N
13255430  nm9993716       Essias Loberg        \N        \N
13255431  nm9993717  Harikrishnan Rajan        \N        \N
13255432  nm9993718         Aayush Nair        \N        \N
13255433  nm9993719          Andre Hill        \N        \N

                            primaryProfession  \
0              soundtrack,actor,miscellaneous
1                          actress,soundtrack
2         actress,soundtrack,music_department
3                     actor,soundtrack,writer
4                       writer,director,actor
...                                       ...
13255429  animation_department,art_department
13255430                                  NaN
13255431                      cinematographer
13255432                      cinematographer
13255433                                  NaN

                                   knownForTitles
0         tt0050419,tt0072308,tt0027125,tt0053137
1         tt0037382,tt0075213,tt0117057,tt0038355
2         tt0049189,tt0054452,tt0056404,tt0057345
3         tt0078723,tt0072562,tt0080455,tt0077975
4         tt0050986,tt0069467,tt0083922,tt0050976
...                                           ...
13255429          tt2455546,tt11657662,tt14069590
13255430                                       \N
13255431                                tt8736744
13255432                                tt8736744
13255433                                       \N

[13255434 rows x 6 columns]

In [7]:
deceased_individuals = df_name[df_name['deathYear'] != '\\N']
deceased_names = set(deceased_individuals['primaryName'])
mask = (~df_v5['actor'].isin(deceased_names)) & \
       (~df_v5['actress'].isin(deceased_names)) & \
       (~df_v5['director'].isin(deceased_names))

df_v5_filtered = df_v5[mask]

print(df_v5_filtered)

           tconst           actor   actress       director      producer  \
0       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
1       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
2       tt0035423    Hugh Jackman  Meg Ryan  James Mangold  Cathy Konrad
3       tt0035423  Liev Schreiber  Meg Ryan  James Mangold  Cathy Konrad
4       tt0035423  Liev Schreiber  Meg Ryan  James Mangold  Cathy Konrad
...           ...             ...       ...            ...           ...
295986  tt9883832         missing   missing   Brett Morgen       missing
295987  tt9883832         missing   missing   Brett Morgen       missing
295988  tt9883832         missing   missing   Brett Morgen       missing
295989  tt9883832         missing   missing   Brett Morgen       missing
295990  tt9883832         missing   missing   Brett Morgen       missing

               writer  averageRating  numVotes titleType      primaryTitle  \
0       Steven Rogers            6.4     88586     movie    Kate & Leopold
1       Steven Rogers            6.4     88586     movie    Kate & Leopold
2       Steven Rogers            6.4     88586     movie    Kate & Leopold
3       Steven Rogers            6.4     88586     movie    Kate & Leopold
4       Steven Rogers            6.4     88586     movie    Kate & Leopold
...               ...            ...       ...       ...               ...
295986        missing            7.7     14003     movie  Moonage Daydream
295987        missing            7.7     14003     movie  Moonage Daydream
295988        missing            7.7     14003     movie  Moonage Daydream
295989        missing            7.7     14003     movie  Moonage Daydream
295990        missing            7.7     14003     movie  Moonage Daydream

        isAdult  startYear  runtimeMinutes       genres  inflation_corrector  \
0             0       2001             118       Comedy             1.720508
1             0       2001             118      Fantasy             1.720508
2             0       2001             118      Romance             1.720508
3             0       2001             118       Comedy             1.720508
4             0       2001             118      Fantasy             1.720508
...         ...        ...             ...          ...                  ...
295986        0       2022             135  Documentary             1.041165
295987        0       2022             135      History             1.041165
295988        0       2022             135    Biography             1.041165
295989        0       2022             135  Documentary             1.041165
295990        0       2022             135      History             1.041165

        Revenue_InflationCorrected Production_Company
0                        130791394            Miramax
1                        130791394            Miramax
2                        130791394            Miramax
3                        130791394            Miramax
4                        130791394            Miramax
...                            ...                ...
295986                    13634862               Neon
295987                    13634862               Neon
295988                    13634862               Neon
295989                    13634862               Neon
295990                    13634862               Neon

[224611 rows x 17 columns]

In [9]:
df_v5_filtered.to_csv('../../../data/cleaned/data_clean_v6.csv', index=False)

'/Users/Trisha/Desktop/Software Des/PROJECT/box-office-prediction/box-office-prediction/notebooks/data_cleaning'